<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <title>student</title>
</head>
<body>
    <h1>student</h1>
    <table border="1">
        <tr>
            <td>学号</td>
            <td>姓名</td>
            <td>性别</td>
            <td>生日</td>
            <td>班级</td>
        </tr>
<!--        从controller传值，并对值进行遍历-->
        <tr th:each="student:${students}">
            <td th:text="${student.sno}"></td>
            <td th:text="${student.sname}"></td>
            <td th:text="${student.ssex}"></td>
            <td th:text="${#dates.format(student.sbirthday,'yyyy-MM-dd')}"></td>
            <td th:text="${student.sclass}"></td>
        </tr>
    </table>
    <p></p>
    <button type="button" onclick="location.href='/student/turnPage'">添加学生</button>

</body>
</html>